<!DOCTYPE HTML>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="renderer" content="webkit|ie-comp|ie-stand" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <!--[if lt IE 9]>
        <script type="text/javascript" src="__ROOT__/public/static/lib/html5shiv.js"></script>
        <script type="text/javascript" src="__ROOT__/public/static/lib/respond.min.js"></script>
    <![endif]-->
    <link rel="stylesheet" type="text/css" href="__ROOT__/static/lib/h-ui/css/H-ui.min.css" />
    <link rel="stylesheet" type="text/css" href="__ROOT__/static/lib/h-ui.admin/css/H-ui.admin.css" />
    <link rel="stylesheet" type="text/css" href="__ROOT__/static/lib/Hui-iconfont/1.0.8/iconfont.css" />
    <link rel="stylesheet" type="text/css" href="__ROOT__/static/lib/h-ui.admin/skin/default/skin.css" id="skin" />
    <link rel="stylesheet" type="text/css" href="__ROOT__/static/lib/h-ui.admin/css/style.css" />
    <style>
        #couponlist td{
            text-align: center;
        }
        .couponlist-span{
            display:block;
        }
        .span_one{
            color:purple;
        }
        .span_two{
            color:gray;
        }
    </style>
    <title>用户反馈</title>
</head>

<body>
    <nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页 <span class="c-gray en">&gt;</span> 系统管理 <span
            class="c-gray en">&gt;</span> 用户反馈管理 <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px"
            href="javascript:location.replace(location.href);" title="刷新"><i class="Hui-iconfont">&#xe68f;</i></a></nav>
    <div class="page-container">
        <div class="cl pd-5 bg-1 bk-gray mt-20">
            <span class="l">
            </span>
            <span class="r">
                共有数据：
                <strong>{:sizeof($data)}</strong>
                条
            </span>
        </div>
        <div class="mt-20">
            <table class="table table-border table-bordered table-hover table-bg table-sort">
                <thead>
                    <tr class="text-c">
                        <th width="30">ID</th>
                        <th width="60">头像信息</th>
                        <th width="60">用户信息</th>
                        <th width="100">反馈信息</th>
                        <th width="60">反馈图片</th>
                        <th width="60">反馈时间</th>
                        <th width="100">回复内容</th>
                        <th width="60">回复管理员</th>
                        <th width="60">回复时间</th>
                        <th width="30">是否回复</th>
                    </tr>
                </thead>
                <tbody>
                    {if condition="sizeof($data) == 0"}
                    {else /}
                    {foreach name="$data" key="k" item="v"}
                    <tr class="text-c">
                        <td>{$v.idx}</td>
                        <td>
                            {if condition="empty($v.avatar_url)"}
                            无图片
                            {else/}
                            <img src="{$v.avatar_url}" style="width:50px;height:50px;border-radius: 50%;">
                            <p>{$v.nickname}</p>
                            {/if}
                        </td>
                        <td>
                            {if condition="$v.user_type == 1"}
                            <p>学生姓名：{$v.username}</p>
                            <p>家长姓名：{$v.auth_name}</p>
                            {else/}
                            教师姓名：{$v.username}
                            {/if}
                        </td>
                        <td>{$v.message}</td>
                        <td>
                            {if condition="empty($v.img) == true"}
                            无图片
                            {else/}
                            <a href="{$v.img}" target="_blank">
                                <img src="{$v.img}" style="width:100px;height:100px" title="点击预览" />
                            </a>
                            {/if}
                        </td>
                        <td>{$v.created_at}</td>
                        <td>{$v.reply ? $v.reply : ''}</td>
                        <td>{$v.name ? $v.name : ''}</td>
                        <td>{$v.reply_at ? $v.reply_at : ''}</td>
                        <td class="td-status">
                            {if condition="$v.status eq 1"}
                            <span onclick="feedbackReply(this,'{$v.idx}','{$v.status}')" class="label label-defaunt radius"
                                title="点击回复" style="cursor:pointer;">
                                待回复
                            </span>
                            {elseif condition="$v.status eq 2"}
                            <span class="label label-success radius" title="已回复" style="cursor:pointer;">已回复</span>
                            {/if}
                        </td>
                    </tr>
                    {/foreach}
                    {/if}
                </tbody>
            </table>
        </div>
    </div>
    <footer class="footer mt-20">
        <div class="container">
            <p>Powered By 福建麦口信息科技有限公司</p>
        </div>
    </footer>
    <div id="modal-demotwo" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content radius">
                <div class="modal-header">
                    <h3 class="modal-title" id="merchantlist-h3">用户反馈回复</h3>
                    <a class="close" data-dismiss="modal" aria-hidden="true" href="javascript:void();">×</a>
                </div>
                <div class="modal-body">
                    <!-- <p>对话框内容…</p> -->
                    <form action="" method="post" class="form form-horizontal" id="form-feedback-rebly">
                        <input type="hidden" name="idx" value="" id="idx" />
                        <!-- <input type="hidden" name="status" value="" id="status" /> -->
                        <div class="row cl">
                            <label class="form-label col-xs-7 col-sm-3">用户反馈：</label>
                            <div class="formControls col-xs-3 col-sm-8">
                                <textarea id="message" disabled="true" name="" cols="" rows="" class="textarea"
                                    placeholder="140个字符以内" dragonfly="true"></textarea>
                            </div>
                        </div>
                        <div class="row cl">
                            <label class="form-label col-xs-7 col-sm-3">回复：</label>
                            <div class="formControls col-xs-3 col-sm-8">
                                <textarea id="reply" name="reply" cols="" rows="" class="textarea" placeholder="140个字符以内"
                                    dragonfly="true" onkeyup="textarealength(this,140)"></textarea>
                                <p style="display:none;" class="textarea-numberbar"><em class="textarea-length-two">0</em>/140</p>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button id="change" class="btn btn-primary" onclick="sendFeedbackReply()">确定</button>
                    <button class="btn" data-dismiss="modal" aria-hidden="true">关闭</button>
                </div>
            </div>
        </div>
    </div>
</body>

</html>
<!--_footer 作为公共模版分离出去-->
<script type="text/javascript" src="__ROOT__/static/lib/jquery/jquery.min.js"></script>
<script type="text/javascript" src="__ROOT__/static/lib/layer/2.4/layer.js"></script>
<script type="text/javascript" src="__ROOT__/static/lib/h-ui/js/H-ui.min.js"></script>
<script type="text/javascript" src="__ROOT__/static/lib/h-ui.admin/js/H-ui.admin.js"></script>
<!--/_footer 作为公共模版分离出去-->
<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript" src="__ROOT__/static/lib/datatables/1.10.16/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="__ROOT__/static/lib/laypage/laypage.js"></script>
<script type="text/javascript" src="__ROOT__/static/js/feedback.js"></script>