<!DOCTYPE HTML>
<html>
    <head>
    <meta charset="utf-8"/>
    <meta name="renderer" content="webkit|ie-comp|ie-stand"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <!--[if lt IE 9]>
        <script type="text/javascript" src="__ROOT__/public/static/lib/html5shiv.js"></script>
        <script type="text/javascript" src="__ROOT__/public/static/lib/respond.min.js"></script>
    <![endif]-->
    <link rel="stylesheet" type="text/css" href="__ROOT__/static/lib/h-ui/css/H-ui.min.css" />
    <link rel="stylesheet" type="text/css" href="__ROOT__/static/lib/h-ui.admin/css/H-ui.admin.css" />
    <link rel="stylesheet" type="text/css" href="__ROOT__/static/lib/Hui-iconfont/1.0.8/iconfont.css" />
    <link rel="stylesheet" type="text/css" href="__ROOT__/static/lib/h-ui.admin/skin/default/skin.css" id="skin" />
    <link rel="stylesheet" type="text/css" href="__ROOT__/static/lib/h-ui.admin/css/style.css" />
    <style>
        .Hui-iconfont{
            font-size: 15px;
        }
        #couponlist td{
            text-align: center;
        }
        .couponlist-span{
            display:block;
        }
        .span_one{
            color:purple;
        }
        .span_two{
            color:gray;
        }
    </style>
    <title>教师管理</title>
    </head>
<body>
    <nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页 <span class="c-gray en">&gt;</span> 课程管理 <span class="c-gray en">&gt;</span> 教师管理 </nav>
<div class="page-container">
    <div class="cl pd-5 bg-1 bk-gray mt-20">
        <span class="l">
            <a class="btn btn-primary radius"  onclick="add_teacher()" href="javascript:;">
                <i class="Hui-iconfont">&#xe600;</i>
                添加教师
            </a>
        </span>
        <span class="r">
            共有数据：
            <strong>{:sizeof($data)}</strong>
            条
        </span>
    </div>
    <div class="mt-20">
        <table class="table table-border table-bordered table-hover table-bg table-sort">
            <thead>
            <tr class="text-c">
                <th width="15">ID</th>
                <th width="30">教师名称</th>
                <th width="15">性别</th>
                <th width="30">手机号码</th>
                <th width="30">生日日期</th>
                <th width="30">所带班级</th>
                <th width="20">操作</th>
            </tr>
            </thead>
            <tbody>
                {if condition="sizeof($data) == 0"}
                {else /}
                {foreach name="$data" key="k" item="v"}
                <tr class="text-c">
                    <td>{$v.teacher_id}</td>  
                    <td>{$v.teacher_name}</td>
                    <td>
                        {if condition="$v.teacher_gender eq 0"}
                        女
                        {else/}
                        男
                        {/if}
                    </td>
                    <td>{$v.teacher_phone}</td>
                    <td>{$v.teacher_birth}</td>
                    <td>
                        {foreach name="$v.teacher_class" key="ke" item="va"}
                        <span>{$va}</span>
                        {/foreach}
                    </td>
                    <td class="td-status">
                        <a style="text-decoration:none" class="ml-5" onclick="edit_teacher('{$v.teacher_id}')" href="javascript:;" title="修改">   <i class="Hui-iconfont">&#xe6df;</i>
                        </a>
                        <a style="text-decoration:none" class="ml-5" onclick="delete_teacher(this,'{$v.teacher_id}')" href="javascript:;" title="删除">   <i class="Hui-iconfont">&#xe6e2;</i>
                        </a>
                    </td>
                </tr>
                {/foreach}
                {/if}
            </tbody>
        </table>
    </div>
</div>
<footer class="footer mt-20">
    <div class="container">
    <p>Powered By 福建麦口信息科技有限公司</p>  
    </div>
</footer>
</body>
</html>
<!--_footer 作为公共模版分离出去-->
<script type="text/javascript" src="__ROOT__/static/lib/jquery/jquery.min.js"></script>
<script type="text/javascript" src="__ROOT__/static/lib/layer/2.4/layer.js"></script>
<script type="text/javascript" src="__ROOT__/static/lib/h-ui/js/H-ui.min.js"></script>
<script type="text/javascript" src="__ROOT__/static/lib/h-ui.admin/js/H-ui.admin.js"></script>
<!--/_footer 作为公共模版分离出去-->
<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript" src="__ROOT__/static/lib/datatables/1.10.16/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="__ROOT__/static/lib/laypage/laypage.js"></script>
<script type="text/javascript">
/*教师删除*/
function delete_teacher(obj,teacher_id){
    layer.confirm('确认要删除吗？',function(index){
        var data = {'teacher_id':teacher_id};
        $.ajax({
            type : 'POST',
            url  : '/index/system/deleteTeacher',
            data : data,
            typeData : 'JSON',
            success : function (result){
                if( result.code < 400 ){
                    $(obj).parents("tr").remove();
                    layer.msg('已删除!',{icon:1,time:1000});
                }else{
                    layer.alert(result.msg,{icon:2,closeBtn:0},function(){
                        window.location.href = window.location.href;
                    });
                }
            },
            error : function(){
                layer.alert('请求失败!',{icon:2});
            }
        });
    });
}
/*教师添加*/
function add_teacher(){
    var index = layer.open({
        type: 2,
        title: '添加教师',
        content: '/index/course/addteacher',
        end: function(){
            location.replace(location.href);
        }
    });
    layer.full(index);
}
/*教师编辑*/
function edit_teacher(teacher_id){
    var index = layer.open({
        type: 2,
        title: '编辑教师信息',
        content: '/index/course/editteacher/teacher_id/'+teacher_id,
        end: function(){
            location.replace(location.href);
        }
    });
    layer.full(index);
}
$(function(){
    $('.table-sort').dataTable({
        language: {
            "sProcessing": "处理中...",
            "sLengthMenu": "显示 _MENU_ 项结果",
            "sZeroRecords": "没有匹配结果",
            "sInfo": "显示第 _START_ 至 _END_ 项结果，共 _TOTAL_ 项",
            "sInfoEmpty": "显示第 0 至 0 项结果，共 0 项",
            "sInfoFiltered": "(由 _MAX_ 项结果过滤)",
            "sInfoPostFix": "",
            "sSearch": "从当前数据中检索： ",
            "sUrl": "",
            "sEmptyTable": "表中数据为空",
            "sLoadingRecords": "载入中...",
            "sInfoThousands": ",",
            "oPaginate": {
                "sFirst": "首页",
                "sPrevious": "上页",
                "sNext": "下页",
                "sLast": "末页"
            },
            "oAria": {
                "sSortAscending": ": 以升序排列此列",
                "sSortDescending": ": 以降序排列此列"
            }
        },
        "aaSorting": [[ 0, "desc" ]],//默认第几个排序
        "bStateSave": true,//状态保存
        "aoColumnDefs": [
            {"orderable":false,"aTargets":[]}// 制定列不参与排序
        ]
    });
});
</script>