<!DOCTYPE HTML>
<html>

<head>
    <meta charset="utf-8">
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <link rel="stylesheet" type="text/css" href="__ROOT__/static/lib/h-ui/css/H-ui.min.css" />
    <link rel="stylesheet" type="text/css" href="__ROOT__/static/lib/h-ui.admin/css/H-ui.admin.css" />
    <link rel="stylesheet" type="text/css" href="__ROOT__/static/lib/Hui-iconfont/1.0.8/iconfont.css" />
    <link rel="stylesheet" type="text/css" href="__ROOT__/static/lib/h-ui.admin/skin/default/skin.css" id="skin" />
    <link rel="stylesheet" type="text/css" href="__ROOT__/static/lib/h-ui.admin/css/style.css" />
    <style>
        .Hui-iconfont{
            font-size: 20px;
        }
        .table td{
            text-align: center;
        }
    </style>
    <title>对应用户</title>
</head>

<body>
    <div class="page-container">
        <div class="cl pd-5 bg-1 bk-gray mt-20" id='username'></div>
        <div class="cl pd-5 bg-1 bk-gray mt-20" hidden="true" id="uid">{$uid}</div>
        <div class="cl pd-5 bg-1 bk-gray mt-20">
            <span class="l">
                <a class="btn btn-primary radius" onclick="course_add('/index/system/useraddcourse')" href="javascript:;">
                    <i class="Hui-iconfont">&#xe600;</i>
                    添加课程
                </a>
            </span>
            <span class="r" style="margin-top:5px;">共有数据：<strong>{:count($userCourse)}</strong> 条</span>
        </div>
        <div class="mt-20">
            <table class="table table-border table-bordered table-bg table-hover table-sort table-responsive">
                <thead>
                    <tr class="text-c">
                        <th width="30">班级ID</th>
                        <th width="100">班级名称</th>
                        <th width="80">上课时间</th>
                        <th width="60">课程名称</th>
                        <th width="60">课程价格</th>
                        <th width="60">课程周期</th>
                        <th width="60">结束时间</th>
                        <th width="60">课程课时</th>
                        <th width="60">教师信息</th>
                        <th width="30">续费次数</th>
                        <th width="30">操作</th>
                    </tr>
                </thead>
                <tbody>
                    {if condition="sizeof($userCourse) == 0"}

                    {else /}

                    {volist name="$userCourse" id="vol"}
                    <td>{$vol.class_id}</td>
                    <td>
                        {$vol.class_name}
                        {if condition = "$vol.class_status eq 1"}
                        <span class="c-danger">（未开班）</span>
                        {elseif condition = "$vol.class_status eq 2"}
                        <span class="c-green">（已开班）</span>
                        {/if}
                    </td>
                    <td>{$vol.class_day_conv} {$vol.class_time}</td>
                    <td>
                        {$vol.course_name}
                    </td>
                    <td>￥{$vol.course_price}</td>
                    <td>{$vol.course_period} 天</td>
                    <td>{$vol.course_end_at}</td>
                    <td><span>剩余课时：{$vol.course_left_times}</span></br><span>课程课时：{$vol.course_times}</span></td>
                    <td>
                        {if condition = "$vol.avatar_url"}
                        <img src="{$vol.avatar_url}" width="50px" height="50px" style="border-radius: 50%;">
                        {/if}
                        <p>{$vol.teacher_name}</p>
                        {if condition = "$vol.teacher_status eq 3"}
                        <span class="c-danger">（已离职）</span>
                        {elseif condition = "$vol.teacher_status eq 2"}
                        <span class="c-green">（在职）</span>
                        {elseif condition = "$vol.teacher_status eq 0"}

                        {elseif condition = "$vol.teacher_status eq 1"}
                        <span class="c-green">（未认证）</span>
                        {/if}
                    </td>
                    <td>{$vol.renew_times} 次</td>
                    <td class="f-14 td-manage">
                        <a style="text-decoration:none" class="ml-5" onClick="course_renew(this,'{$uid}','{$vol.class_id}')" href="javascript:;" title="课程续费"><i class="Hui-iconfont">&#xe604;</i></a>
                        <a style="text-decoration:none" class="ml-5" onClick="course_delete(this,'{$uid}','{$vol.class_id}')" href="javascript:;" title="课程删除"><i class="Hui-iconfont">&#xe6e2;</i></a>
                    </td>
                    </tr>
                    {/volist}

                    {/if}
                </tbody>
            </table>
        </div>
    </div>

    <!-- 添加课程的modal -->
    <div id="modal-demotwo" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content radius">
                <div class="modal-header">
                    <span>添加课程</span>
                    <a class="close" data-dismiss="modal" aria-hidden="true" href="javascript:void();">×</a>
                </div>
                <div class="modal-body">
                    <!-- <p>对话框内容…</p> -->
                    <form action="" method="post" class="form form-horizontal" id="form-class-add">
                        <div class="row cl active merchantlist-div" id="pause_reason_div">
                            <label class="form-label col-xs-4 col-sm-3">
                                <span class="c-red">*</span>
                                科目选择：
                            </label>
                            <div class="formControls col-xs-6 col-sm-6">
                                <select name="subject_id" id="subject_id" style="width: 200px;font-size: 14px; height: 31px;line-height: 1.42857;padding: 4px;">
                                    {volist name="$subjectData" id="vol"}
                                    <option value="{$vol.subject_id}">{$vol.subject_name}</option>
                                    {/volist}
                                </select>
                            </div>
                        </div>
                        <div class="row cl active merchantlist-div" id="pause_reason_div">
                            <label class="form-label col-xs-4 col-sm-3">
                                <span class="c-red">*</span>
                                课程选择：
                            </label>
                            <div class="formControls col-xs-6 col-sm-6">
                                <select name="course_id" id="course_id" style="width: 200px;font-size: 14px; height: 31px;line-height: 1.42857;padding: 4px;">
                                </select>
                            </div>
                        </div>
                        <div class="row cl active merchantlist-div" id="pause_reason_div">
                            <label class="form-label col-xs-4 col-sm-3">
                                <span class="c-red">*</span>
                                课程详情：
                            </label>
                            <div class="formControls col-xs-6 col-sm-6">
                                课程打卡次数：<input type="number" min="1" max="999" id="course_times">次
                                课程周期：<span id="course_period"></span>天
                            </div>
                        </div>
                        <div class="row cl active merchantlist-div" id="pause_reason_div">
                            <label class="form-label col-xs-4 col-sm-3">
                                <span class="c-red">*</span>
                                班级选择：
                            </label>
                            <div class="formControls col-xs-6 col-sm-6">
                                <select name="class_id" id="class_id" style="width: 200px;font-size: 14px; height: 31px;line-height: 1.42857;padding: 4px;">
                                </select>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button id="submit" class="btn btn-primary" href="javascript:void();">确定</button>
                    <button class="btn close-btn" data-dismiss="modal" aria-hidden="true">关闭</button>
                </div>
            </div>
        </div>
    </div>

    <footer class="footer mt-20">
        <div class="container">
            <p>Powered By 福建麦口信息科技有限公司</p>
        </div>
    </footer>
    <!--_footer 作为公共模版分离出去-->
    <script type="text/javascript" src="__ROOT__/static/lib/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="__ROOT__/static/lib/layer/2.4/layer.js"></script>
    <script type="text/javascript" src="__ROOT__/static/lib/h-ui/js/H-ui.min.js"></script>
    <script type="text/javascript" src="__ROOT__/static/lib/h-ui.admin/js/H-ui.admin.js"></script>
    <!--/_footer 作为公共模版分离出去-->
    <!--请在下方写此页面业务相关的脚本-->
    <script type="text/javascript" src="__ROOT__/static/lib/My97DatePicker/4.8/WdatePicker.js"></script>
    <script type="text/javascript" src="__ROOT__/static/lib/datatables/1.10.16/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="__ROOT__/static/lib/laypage/laypage.js"></script>
    <script type="text/javascript" src="__ROOT__/static/lib/jquery.validation/1.14.0/jquery.validate.js"></script>
    <script type="text/javascript" src="__ROOT__/static/lib/jquery.validation/1.14.0/messages_zh.js"></script>
    <script type="text/javascript" src="__ROOT__/static/lib/jquery.validation/1.14.0/validate-methods.js"></script>
    <script type="text/javascript" src="__ROOT__/static/js/usercourse.js"></script>
</body>

</html>