<!DOCTYPE HTML>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="renderer" content="webkit|ie-comp|ie-stand" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <!--[if lt IE 9]>
    <script type="text/javascript" src="__ROOT__/public/static/lib/html5shiv.js"></script>
    <script type="text/javascript" src="__ROOT__/public/static/lib/respond.min.js"></script>
<![endif]-->
    <link rel="stylesheet" type="text/css" href="__ROOT__/static/lib/h-ui/css/H-ui.min.css" />
    <link rel="stylesheet" type="text/css" href="__ROOT__/static/lib/h-ui.admin/css/H-ui.admin.css" />
    <link rel="stylesheet" type="text/css" href="__ROOT__/static/lib/Hui-iconfont/1.0.8/iconfont.css" />
    <link rel="stylesheet" type="text/css" href="__ROOT__/static/lib/h-ui.admin/skin/default/skin.css" id="skin" />
    <link rel="stylesheet" type="text/css" href="__ROOT__/static/lib/h-ui.admin/css/style.css" />
    <style>
        label.error {
        left: 325px;
    }
</style>
    <title>修改学生信息</title>
</head>

<body>
    <div class="page-container">
        <form action="" method="post" class="form form-horizontal" id="form-class-add">
            <input style="display: none;" type="text" value="{$userData.uid}" name="uid">
            <div class="row cl">
                <label class="form-label col-xs-4 col-sm-3">学生姓名：</label>
                <div class="formControls col-xs-8 col-sm-9">
                    <input style="width: 300px" autocomplete="off" type="text" class="input-text" id="user_name" name="user_name"
                        placeholder="请输入学生姓名" value="{$userData.username}" maxlength="28">
                </div>
            </div>
            <div class="row cl">
                <label class="form-label col-xs-4 col-sm-3">学生学号：</label>
                <div class="formControls col-xs-8 col-sm-9">
                    <input style="width: 300px" autocomplete="off" type="text" class="input-text" id="user_no" name="user_no"
                        placeholder="请输入学生学号" value="{$userData.stu_no}" maxlength="18">
                </div>
            </div>
            <div class="row cl">
                <label class="form-label col-xs-4 col-sm-3">家长手机号：</label>
                <div class="formControls col-xs-8 col-sm-9">
                    <input style="width: 300px" autocomplete="off" type="text" class="input-text" id="user_phone" name="user_phone"
                        placeholder="请输入手机号" value="{$userData.phone}" maxlength="11">
                </div>
            </div>
            <div class="row cl">
                <label class="form-label col-xs-4 col-sm-3">学生生日：</label>
                <div class="formControls col-xs-8 col-sm-9">
                    <input type="text" style="font-size: 14px; text-align: center;height: 31px;line-height: 1.42857;border: solid 1px #ddd;"
                        name="countTimestart" id="countTimestart" onfocus="selecttime()" value="{$userData.birth}" size="31"
                        class="" readonly placeholder="请选择出生年月日">
                </div>
            </div>
            <div class="row cl">
                <label class="form-label col-xs-4 col-sm-3">学生性别：</label>
                <div class="formControls col-xs-8 col-sm-9">
                    <select name="user_gender" id="user_gender" style="width: 200px;font-size: 14px; height: 31px;line-height: 1.42857;padding: 4px;">
                        <option value="0" {if condition="$userData.user_gender eq 0" }selected{/if}>
                            女 
                        </option> 
                        <option value="1" {if condition="$userData.user_gender eq 1" }selected{/if}>
                            男 
                        </option> 
                    </select>
                </div>
            </div>
            <div class="row cl">
                <label class="form-label col-xs-4 col-sm-3">选择年级：</label>
                <div class="formControls col-xs-8 col-sm-9">
                    <select name="user_grade" id="user_grade" style="width: 200px;font-size: 14px; height: 31px;line-height: 1.42857;padding: 4px;">
                        <option value="1" {if condition="$userData.grade eq 1" }selected{/if}>
                            幼儿园
                        </option>
                        <option value="2" {if condition="$userData.grade eq 2" }selected{/if}>
                            小学
                        </option>
                        <option value="3" {if condition="$userData.grade eq 3" }selected{/if}>
                            其它
                        </option>
                    </select>
                </div>
            </div>
            <div class="row cl">
                <div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-3">
                    <button class="btn btn-primary radius" href="javascript:;">
                        <i class="Hui-iconfont">&#xe632;</i>
                        提交
                    </button>
                    <button style="margin-left: 20px;" onclick="layer_close();" class="btn btn-default radius" type="button">
                        &nbsp;&nbsp;取消&nbsp;&nbsp;
                    </button>
                </div>
            </div>
        </form>
    </div>
    <footer class="footer mt-20">
        <div class="container">
            <p>Powered By 福建麦口信息科技有限公司</p>
        </div>
    </footer>
</body>

</html>
<!--_footer 作为公共模版分离出去-->
<script type="text/javascript" src="__ROOT__/static/lib/jquery/jquery.min.js"></script>
<script type="text/javascript" src="__ROOT__/static/lib/layer/2.4/layer.js"></script>
<script type="text/javascript" src="__ROOT__/static/lib/h-ui/js/H-ui.min.js"></script>
<script type="text/javascript" src="__ROOT__/static/lib/h-ui.admin/js/H-ui.admin.js"></script>
<!--/_footer 作为公共模版分离出去-->
<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript" src="__ROOT__/static/lib/My97DatePicker/4.8/WdatePicker.js"></script>
<script type="text/javascript" src="__ROOT__/static/lib/jquery.validation/1.14.0/jquery.validate.js"></script>
<script type="text/javascript" src="__ROOT__/static/lib/jquery.validation/1.14.0/messages_zh.js"></script>
<script type="text/javascript" src="__ROOT__/static/lib/jquery.validation/1.14.0/validate-methods.js"></script>
<script type="text/javascript" src="__ROOT__/static/js/useredit.js"></script>