<!--_meta 作为公共模版分离出去-->
<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <link rel="Bookmark" href="/favicon.ico" >
    <link rel="Shortcut Icon" href="/favicon.ico" />
    <!--[if lt IE 9]>
    <script type="text/javascript" src="__ROOT__/public/static/lib/html5shiv.js"></script>
    <script type="text/javascript" src="__ROOT__/public/static/lib/respond.min.js"></script>
    <![endif]-->
    <link rel="stylesheet" type="text/css" href="__ROOT__/static/lib/h-ui/css/H-ui.min.css" />
    <link rel="stylesheet" type="text/css" href="__ROOT__/static/lib/h-ui.admin/css/H-ui.admin.css" />
    <link rel="stylesheet" type="text/css" href="__ROOT__/static/lib/Hui-iconfont/1.0.8/iconfont.css" />
    <link rel="stylesheet" type="text/css" href="__ROOT__/static/lib/h-ui.admin/skin/default/skin.css" id="skin" />
    <link rel="stylesheet" type="text/css" href="__ROOT__/static/lib/h-ui.admin/css/style.css" />
    <link rel="stylesheet" href="__ROOT__/static/lib/zTree/v3/css/zTreeStyle/zTreeStyle.css" type="text/css">
    <!--[if IE 6]>
    <script>DD_belatedPNG.fix('*');</script>
    <![endif]-->
    <!--/meta 作为公共模版分离出去-->
</head>
<body>
<div class="page-container">
    <form action="" method="post" class="form form-horizontal" id="form-addadmin-add">
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-3">管理员名称：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input style="width: 200px;" type="text" class="input-text" value="" placeholder="请输入英文或数字，最多20字" id="admin_name" name="admin_name" maxlength="20" onkeyup="value=value.replace(/[\W]/g,'')">
            </div>
        </div>

        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>初始密码：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input style="width: 200px;" type="password" class="input-text valid" autocomplete="off" value="" placeholder="密码" id="password" name="password" minlength="6" maxlength="15">
            </div>
        </div>

        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>确认密码：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input style="width: 200px;" type="password" class="input-text valid" autocomplete="off" placeholder="确认新密码" id="password2" name="password2" minlength="6" maxlength="15">
            </div>
        </div>
        
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>选择权限：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input style="width: 200px;" value="点击选择" type="button" class="input-text valid" id="selectPower">
            </div>
        </div>

        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-3">立即启用：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <select name="admin_active" id="admin_active" style="font-size: 14px; height: 31px;line-height: 1.42857;padding: 4px;">
                    <option value="1">启用</option>
                    <option value="0">不启用</option>  
                </select>
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-3">绑定教师：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <select name="admin_teacher" id="admin_teacher" style="font-size: 14px; height: 31px;line-height: 1.42857;padding: 4px;">
                    <option value="0">不绑定</option>
                    {if condition="sizeof($teacherData) == 0"}
            
                    {else /}
                    {volist name="$teacherData" id="vol"}
                        <option value="{$vol.teacher_id}">{$vol.teacher_name}</option>                
                    {/volist}
                    {/if}
                </select>
            </div>
        </div>
        <div class="row cl">
            <div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-3">
                <a onClick="addadmin_save_submit();" class="btn btn-primary radius" href="javascript:;"><i class="Hui-iconfont">&#xe632;</i> 保存</a>
               <!--  <button onClick="layer_close();" class="btn btn-default radius" type="button">&nbsp;&nbsp;取消&nbsp;&nbsp;</button> -->
            </div>

        </div>

    </form>

</div>

    <div id="modal-demo" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content radius">
                <div class="modal-header">
                    <h3 class="modal-title">权限选择</h3>
                    <a class="close" data-dismiss="modal" aria-hidden="true" href="javascript:void();">×</a>
                </div>
                <div class="modal-body">
                    <!-- <p>对话框内容…</p> -->
                <div class="zTreeDemoBackground left">
                    <ul id="treeDemo" class="ztree"></ul>
                </div>                

                </div>
                <div class="modal-footer">
                    <button id="confirm" class="btn btn-primary">确定</button>
                    <button class="btn" data-dismiss="modal" aria-hidden="true">关闭</button>
                </div>
            </div>
        </div>
    </div>
<!--_footer 作为公共模版分离出去-->
<script type="text/javascript" src="__ROOT__/static/lib/jquery/jquery.min.js"></script>
<script type="text/javascript" src="__ROOT__/static/lib/layer/2.4/layer.js"></script>
<script type="text/javascript" src="__ROOT__/static/lib/h-ui/js/H-ui.min.js"></script>
<script type="text/javascript" src="__ROOT__/static/lib/zTree/v3/js/jquery.ztree.all-3.5.min.js"></script>
<script type="text/javascript" src="__ROOT__/static/lib/h-ui.admin/js/H-ui.admin.js"></script>
<script type="text/javascript" src="__ROOT__/static/js/adminadd.js"></script>
 <!--/_footer 作为公共模版分离出去-->
<!--请在下方写此页面业务相关的脚本-->
</body>
</html>