<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.maikoo.businessdirectory.dao.ClassUserFavDao">
    <resultMap id="classUserFavResultMap" type="ClassUserFavDO">
        <result property="idx" column="idx" />
        <result property="userId" column="user_id" />
        <result property="createdAt" column="created_at" />

        <association property="classUserDO" resultMap="com.maikoo.businessdirectory.dao.ClassUserDao.classUserResultMap" columnPrefix="class_user_" />
    </resultMap>

    <select id="selectByIds" resultMap="classUserFavResultMap">
        SELECT
            cuf.idx AS idx,
            u.user_id AS class_user_user_user_id,
            cu.name AS class_user_name,
            u.avatar_url AS class_user_user_avatar_url,
            cg.group_name AS class_user_class_group_group_name,
            cg.group_id AS class_user_class_group_group_id,
            cu.company AS class_user_company,
            cuf.created_at AS created_at
        FROM
            grtu_class_user_fav cuf
            JOIN grtu_class_user cu ON cuf.class_user_idx = cu.idx
            JOIN gr_class_group cg ON cu.group_id = cg.group_id
            JOIN u_user u ON cu.user_id = u.user_id
        WHERE
            cuf.idx IN
            <foreach item="id" index="index" collection="ids"
                     open="(" separator="," close=")">
                #{id}
            </foreach>
    </select>
</mapper>