<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.maikoo.businessdirectory.dao.SchoolUserFavDao">
    <resultMap id="schoolUserFavResultMap" type="SchoolUserFavDO">
        <result property="idx" column="idx" />
        <result property="userId" column="user_id" />
        <result property="createdAt" column="created_at" />

        <association property="schoolUserDO" resultMap="com.maikoo.businessdirectory.dao.SchoolUserDao.schoolUserResultMap" columnPrefix="school_user_" />
    </resultMap>

    <select id="selectByIds" resultMap="schoolUserFavResultMap">
        SELECT
            suf.idx AS idx,
            u.user_id AS school_user_user_user_id,
            su.name AS school_user_name,
            u.avatar_url AS school_user_user_avatar_url,
            sg.group_name AS school_user_school_group_group_name,
            sg.group_id AS school_user_school_group_group_id,
            su.company AS school_user_company,
            suf.created_at AS created_at
        FROM
            grtu_school_user_fav suf
            JOIN grtu_school_user su ON suf.school_user_idx = su.idx
            JOIN gr_school_group sg ON su.group_id = sg.group_id
            JOIN u_user u ON su.user_id = u.user_id
        WHERE
            suf.idx IN
            <foreach item="id" index="index" collection="ids"
                     open="(" separator="," close=")">
                #{id}
            </foreach>
    </select>
</mapper>