<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <!--[if lt IE 9]>
    <script type="text/javascript" src="__ROOT__/public/static/lib/html5shiv.js"></script>
    <script type="text/javascript" src="__ROOT__/public/static/lib/respond.min.js"></script>
    <![endif]-->
    <link rel="stylesheet" type="text/css" href="__ROOT__/static/lib/h-ui/css/H-ui.min.css" />
    <link rel="stylesheet" type="text/css" href="__ROOT__/static/lib/h-ui.admin/css/H-ui.admin.css" />
    <link rel="stylesheet" type="text/css" href="__ROOT__/static/lib/Hui-iconfont/1.0.8/iconfont.css" />
    <link rel="stylesheet" type="text/css" href="__ROOT__/static/lib/h-ui.admin/skin/default/skin.css" id="skin" />
    <link rel="stylesheet" type="text/css" href="__ROOT__/static/lib/h-ui.admin/css/style.css" />
    <!-- <link rel="stylesheet" type="text/css" href="static/css/demo.css" /> -->
    <!--[if IE 6]>
    <script type="text/javascript" src="__ROOT__/public/static/lib/DD_belatedPNG_0.0.8a-min.js" ></script>
    <script>DD_belatedPNG.fix('*');</script>
    <![endif]-->
    <style>
        .Hui-iconfont{
            font-size: 15px;
        }
    </style>
    <title>公告信息</title>
</head>
<body>
<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页 <span class="c-gray en">&gt;</span> 信息发送 <span class="c-gray en">&gt;</span> 公告信息 <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a></nav>
<div class="page-container">
    <div class="cl pd-5 bg-1 bk-gray mt-20"> <span class="l">
        <!--<a href="javascript:;" onclick="datadel()" class="btn btn-danger radius"><i class="Hui-iconfont">&#xe6e2;</i> 批量删除</a> -->
        <a class="btn btn-primary radius"  onclick="msg_add()" href="javascript:;"><i class="Hui-iconfont">&#xe600;</i> 添加公告信息</a></span> <span class="r" style="margin-top:5px;">共有数据：<strong>{:count($msgData)}</strong> 条</span> </div>
    <div class="mt-20">
        <table class="table table-border table-bordered table-bg table-hover table-sort table-responsive">
            <thead>
            <tr class="text-c">
                <th width="30">ID</th>
                <th width="150">公告图片</th>
                <th width="150">公告内容</th>
                <th width="50">发送时间</th>
                <th width="50">是否发送</th>
                <th width="50">操作</th>
            </tr>
            </thead>
            <tbody>
            {if condition="sizeof($msgData) == 0"}
            
            {else /}

            {volist name="$msgData" id="vol"}
            <tr class="text-c">
                <td>{$vol.msg_id}</td>
                <td>
                    {if condition = "$vol.msg_img eq '' "}
                    <span>无</span>
                    {else/}
                    <img src="{$vol.msg_img}" width="200px" height="100px">
                    {/if}
                </td>
                <td>{:htmlspecialchars_decode($vol.msg_content)}</td>
                <td>{$vol.send_at}</td>
                <td class="td-status">
                {if condition = "$vol.status eq 1 "}
                <span class="label label-defaunt radius" title="不发送" onClick="msg_start(this,'{$vol.msg_id}');" style="cursor: pointer;">不发送</span>
                {elseif condition = "$vol.status eq 2" /}
                <span class="label label-success radius" title="发送" style="cursor: pointer;">已发送</span>
                {/if}
                </td>
                <td class="f-14 td-manage">
<!--                     <a style="text-decoration:none" class="ml-5" onClick="msg_edit('{$vol.msg_id}')" href="javascript:;" title="修改"><i class="Hui-iconfont">&#xe6df;</i></a> -->
                    <a style="text-decoration:none" class="ml-5" onClick="msg_del(this,'{$vol.msg_id}')" href="javascript:;" title="删除"><i class="Hui-iconfont">&#xe6e2;</i></a></td>
            </tr>
            {/volist}

            {/if}
            </tbody>
        </table>
    </div>
</div>

<footer class="footer mt-20">
    <div class="container">
    <p>Powered By 福建麦口信息科技有限公司</p>  
    </div>
</footer>
<!--_footer 作为公共模版分离出去-->
<script type="text/javascript" src="__ROOT__/static/lib/jquery/jquery.min.js"></script>
<script type="text/javascript" src="__ROOT__/static/lib/layer/2.4/layer.js"></script>
<script type="text/javascript" src="__ROOT__/static/lib/h-ui/js/H-ui.min.js"></script>
<script type="text/javascript" src="__ROOT__/static/lib/h-ui.admin/js/H-ui.admin.js"></script>
<!--/_footer 作为公共模版分离出去-->
<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript" src="__ROOT__/static/lib/My97DatePicker/4.8/WdatePicker.js"></script>
<script type="text/javascript" src="__ROOT__/static/lib/datatables/1.10.16/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="__ROOT__/static/lib/laypage/laypage.js"></script>
<script type="text/javascript" src="__ROOT__/static/js/tomsg.js"></script>
</body>
</html>