<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <link rel="stylesheet" type="text/css" href="__ROOT__/static/lib/h-ui/css/H-ui.min.css" />
    <link rel="stylesheet" type="text/css" href="__ROOT__/static/lib/h-ui.admin/css/H-ui.admin.css" />
    <link rel="stylesheet" type="text/css" href="__ROOT__/static/lib/Hui-iconfont/1.0.8/iconfont.css" />
    <link rel="stylesheet" type="text/css" href="__ROOT__/static/lib/h-ui.admin/skin/default/skin.css" id="skin" />
    <link rel="stylesheet" type="text/css" href="__ROOT__/static/lib/h-ui.admin/css/style.css" />
    <link href="__ROOT__/static/lib/webuploader/webuploader.css" rel="stylesheet" type="text/css" />
    <title>小程序Banner</title>
</head>
<body>
<!-- <nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页 <span class="c-gray en">&gt;</span> Banner管理 <span class="c-gray en">&gt;</span> 添加Banner <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a></nav> -->

<div class="page-container">
    <form class="form form-horizontal" id="form-article-add">
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-3">banner排序：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <select name="banner_sort" id="banner_sort" style="font-size: 14px; height: 31px;line-height: 1.42857;padding: 4px;">
                    <option value="0">0</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                </select>
            </div>
        </div>

        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-3">是否马上启用：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <select  name="banner_active" id="banner_active"style="font-size: 14px; height: 31px;line-height: 1.42857;padding: 4px;">
                    <option value="2">立刻启用</option>
                    <option value="1">不启用</option>
                </select>
            </div>
        </div>

        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>注意：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <label>请按照指定尺寸（1080×470）上传小程序Banner，并将大小保证在200KB以内，否则可能会导致小程序内图片显示异常</label>
            </div>
        </div>

        <div class="row cl" id="bannershow">
            <label class="form-label col-xs-4 col-sm-3">小程序Banner：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <div style="display: flex; flex-direction: column;">
                    <img style="display: none;" id="image" src="" width="400px" height="200px"/>
                    <text onClick="change()" id="change" style="width: 80px; height: 30px;background-color: #cccccc; border: 1px solid #cccccc; text-align: center; line-height: 30px; border-radius: 5px; cursor: pointer;">添加</text>
                </div>
            </div>
        </div>

        <div class="row cl" id="changeArticleThumb" style="position: absolute; opacity: 0; filter:Alpha(opacity=0); ">
            <label class="form-label col-xs-4 col-sm-3">Banner添加：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <div id="uploader-demo">
                    <!--用来存放item-->
                    <div id="fileList" class="uploader-list"></div>
                    <div id="filePicker">选择图片</div>
                </div>
            </div>
        </div>

 <!--        <div class="row cl">
            <button onclick="form_save_submit();" class="btn btn-primary radius" type="button"><i class="Hui-iconfont"></i> 保存并上传图片</button>
            <button onclick="layer_close();" class="btn btn-default radius" type="button">&nbsp;&nbsp;取消&nbsp;&nbsp;</button>
        </div> -->
    </form>
</div>
<!--_footer 作为公共模版分离出去-->
<script type="text/javascript" src="__ROOT__/static/lib/jquery/jquery.min.js"></script>
<script type="text/javascript" src="__ROOT__/static/lib/layer/layer.js"></script>
<script type="text/javascript" src="__ROOT__/static/lib/h-ui/js/H-ui.min.js"></script>
<script type="text/javascript" src="__ROOT__/static/lib/h-ui.admin/js/H-ui.admin.js"></script>
<!--/_footer 作为公共模版分离出去-->
<script type="text/javascript" src="__ROOT__/static/lib/webuploader/0.1.5/webuploader.min.js"></script>
<script type="text/javascript" src="__ROOT__/static/js/banneradd.js"></script>
</body>
</html>