<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <!--[if lt IE 9]>
    <script type="text/javascript" src="__ROOT__/public/static/lib/html5shiv.js"></script>
    <script type="text/javascript" src="__ROOT__/public/static/lib/respond.min.js"></script>
    <![endif]-->
    <link rel="stylesheet" type="text/css" href="__ROOT__/static/lib/h-ui/css/H-ui.min.css" />
    <link rel="stylesheet" type="text/css" href="__ROOT__/static/lib/h-ui.admin/css/H-ui.admin.css" />
    <link rel="stylesheet" type="text/css" href="__ROOT__/static/lib/Hui-iconfont/1.0.8/iconfont.css" />
    <link rel="stylesheet" type="text/css" href="__ROOT__/static/lib/h-ui.admin/skin/default/skin.css" id="skin" />
    <link rel="stylesheet" type="text/css" href="__ROOT__/static/lib/h-ui.admin/css/style.css" />
    <!--[if IE 6]>
    <script type="text/javascript" src="__ROOT__/public/static/lib/DD_belatedPNG_0.0.8a-min.js" ></script>
    <script>DD_belatedPNG.fix('*');</script>
    <![endif]-->
    <title>文章管理</title> 
    <style>
    .Hui-iconfont{
        font-size: 15px;
    }
    </style>
</head>
<body>
<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页 <span class="c-gray en">&gt;</span> 内容管理<span class="c-gray en">&gt;</span> 文章管理 <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a></nav>

<div class="page-container">
    <div class="cl pd-5 bg-1 bk-gray mt-20">
        <a href="javascript:;" onclick="article_add('添加文章','articleadd.html')" class="btn btn-primary radius"><i class="Hui-iconfont">&#xe600;</i> 添加文章</a></span> <span class="r">共有数据：<strong>{:sizeof($articleData)}</strong> 条</span> </div>
    <div class="mt-20">
        <table class="table table-border table-bordered table-hover table-bg table-sort">
            <thead>
            <tr class="text-c">
                <th width="30">文章ID</th>
                <th width="50">文章标题</th>
                <th width="100">文章简介</th>
                <th width="50">文章图片</th>
                <th width="50">状态</th>    
                <th width="50">操作</th>
            </tr>
            </thead>
            <tbody>
            {if condition="sizeof($articleData) == 0"}

            {else /}
            {volist name="$articleData" id="vol"}
            <tr class="text-c">
                <td>{$vol.article_id}</td>  
                <td>{$vol.article_title}</td>  
                <td>{:htmlspecialchars_decode($vol.article_brief)}</td>
                <td>点击</td>
                <td class="td-status">
                {if condition = "$vol.status eq 0"}
                <span class="label label-defaunt radius" title="不展示" onClick="article_start(this,'{$vol.article_id}');" style="cursor: pointer;">不展示</span>
                {elseif condition = "$vol.status eq 1" /}
                <span class="label label-success radius" title="展示" onClick="article_stop(this,'{$vol.article_id}');" style="cursor: pointer;">已展示</span>
                {/if}
                </td>
                <td class="td-manage">
                    <a style="text-decoration:none"  href="javascript:;" onClick="article_del(this,'{$vol.article_id}');" title="删除"><i class="Hui-iconfont">&#xe6e2;</i></a>
                </td>
            {/volist}
            {/if}
            </tbody>
        </table>
    </div>
</div>
<footer class="footer mt-20">
    <div class="container">
    <p>Powered By 福建麦口信息科技有限公司</p>  
    </div>
</footer>
<!--_footer 作为公共模版分离出去-->
<script type="text/javascript" src="__ROOT__/static/lib/jquery/jquery.min.js"></script>
<script type="text/javascript" src="__ROOT__/static/lib/layer/2.4/layer.js"></script>
<script type="text/javascript" src="__ROOT__/static/lib/h-ui/js/H-ui.min.js"></script>
<script type="text/javascript" src="__ROOT__/static/lib/h-ui.admin/js/H-ui.admin.js"></script> <!--/_footer 作为公共模版分离出去-->
<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript" src="__ROOT__/static/lib/datatables/1.10.16/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="__ROOT__/static/lib/laypage/laypage.js"></script>
<!-- <script type="text/javascript" src="__ROOT__/static/js/articlelist.js"></script> -->
<script type="text/javascript">
    $(function(){
        $('.table-sort').dataTable({
            language: {
            "sProcessing": "处理中...",
            "sLengthMenu": "显示 _MENU_ 项结果",
            "sZeroRecords": "没有匹配结果",
            "sInfo": "显示第 _START_ 至 _END_ 项结果，共 _TOTAL_ 项",
            "sInfoEmpty": "显示第 0 至 0 项结果，共 0 项",
            "sInfoFiltered": "(由 _MAX_ 项结果过滤)",
            "sInfoPostFix": "",
            "sSearch": "从当前数据中检索： ",
            "sUrl": "",
            "sEmptyTable": "表中数据为空",
            "sLoadingRecords": "载入中...",
            "sInfoThousands": ",",
            "oPaginate": {
                "sFirst": "首页",
                "sPrevious": "上页",
                "sNext": "下页",
                "sLast": "末页"
            },
            "oAria": {
                "sSortAscending": ": 以升序排列此列",
                "sSortDescending": ": 以降序排列此列"
            }
        },
            "aaSorting": [[ 1, "desc" ]],//默认第几个排序

            "bStateSave": true,//状态保存

            "aoColumnDefs": [

                {"orderable":false,"aTargets":[]}// 制定列不参与排序
            ]
        });
    });
    /*article-添加*/
    function article_add(title,url){
        var index = layer.open({
            type: 2,
            title: title,
            content: url,
            end: function(){
                location.replace(location.href);
            }
        });
        layer.full(index);
    }
    /*article-启用*/
    function article_start(obj,id){
        layer.confirm('确认展示吗？',function(index){
            var str = {id : id};
            $.post("articleStart", str, function (res) {
                if (res.code == 0) {
                    $(obj).parents("tr").find(".td-status").html('<span class="label label-success radius" title="展示" onClick="article_stop(this,'+id+');" style="cursor: pointer;">已展示</span>');
                    $(obj).remove();
                    layer.msg(res.msg,{icon: 6,time:1000});
                }
                if(res.code == 400){
                    layer.msg(res.msg, {icon: 5, time: 1000});  
                }                
            })
        });
    }
    /*article-不展示*/
    function article_stop(obj,id){
        layer.confirm('确认不展示吗？',function(index){
            var str = {id : id};
            $.post("articleStop", str, function (res) {
                if (res.code == 0) {
                    $(obj).parents("tr").find(".td-status").html('<span class="label label-defaunt radius" title="不展示" onClick="article_start(this,'+id+');" style="cursor: pointer;">不展示</span>');
                    $(obj).remove();
                    layer.msg(res.msg,{icon: 6,time:1000});
                }
                if(res.code == 400){
                    layer.msg(res.msg, {icon: 5, time: 1000});  
                }                
            })
        });
    }
    /*article-删除*/
    function article_del(obj,id) {
        layer.confirm('确认要删除吗？', function (index) {
            var str = {id: id};
            $.post("articleDel", str, function (res) {
                if (res.code == 0) {
                    $(obj).parents("tr").remove();
                    $(obj).remove();
                    layer.msg(res.msg, {icon: 6, time: 1000});
                } 
                if(res.code == 400){
                    layer.msg(res.msg, {icon: 5, time: 1000});  
                }
            })
        });
    }
</script>
</body>
</html>