<!DOCTYPE HTML>
<html>
    <head>
    <meta charset="utf-8"/>
    <meta name="renderer" content="webkit|ie-comp|ie-stand"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <!--[if lt IE 9]>
        <script type="text/javascript" src="__ROOT__/public/static/lib/html5shiv.js"></script>
        <script type="text/javascript" src="__ROOT__/public/static/lib/respond.min.js"></script>
    <![endif]-->
    <link rel="stylesheet" type="text/css" href="__ROOT__/static/lib/h-ui/css/H-ui.min.css" />
    <link rel="stylesheet" type="text/css" href="__ROOT__/static/lib/h-ui.admin/css/H-ui.admin.css" />
    <link rel="stylesheet" type="text/css" href="__ROOT__/static/lib/Hui-iconfont/1.0.8/iconfont.css" />
    <link rel="stylesheet" type="text/css" href="__ROOT__/static/lib/h-ui.admin/skin/default/skin.css" id="skin" />
    <link rel="stylesheet" type="text/css" href="__ROOT__/static/lib/h-ui.admin/css/style.css" />
    <style>
        .goods_img{
            width:100px;
            height:100px;
        }
    </style>
    <title>添加关键词</title>
    </head>
    <body>
        <div class="page-container">
            <form action="/" method="post" class="form form-horizontal" id="form-search-add">
                <div class="row cl">
                    <label class="form-label col-xs-4 col-sm-2">排序：</label>
                    <div class="formControls col-xs-8 col-sm-9">
                        <input style="width: 200px;" type="text" class="input-text" value="" placeholder="排序" id="sort" name="sort" maxlength="4" autocomplete="off"/>
                    </div>
                </div>
                <div class="row cl">
                    <label class="form-label col-xs-4 col-sm-2">关键词：</label>
                    <div class="formControls col-xs-8 col-sm-9">
                        <input style="width: 200px;" type="text" maxlength="10" class="input-text" value="" placeholder="关键词" id="value" name="value" autocomplete="off"/>
                    </div>
                </div>
                <div class="row cl" id="skip">
                    <label class="form-label col-xs-4 col-sm-2">跳转选项：</label>
                    <div class="formControls col-xs-8 col-sm-9">
                        <span class="select-box" id="select-span" style="width:150px;">
                            <select class="select" onchange="navTypeChange(this)" name="nav_type" size="1">
                                <option value="0">
                                    不跳转
                                </option>
                                <option value="1">
                                    跳转到指定商品
                                </option>
                                <option value="2">
                                    跳转到指定内容
                                </option>
                                <option value="3">
                                    跳转到指定优惠券
                                </option>
                                <option value="4">
                                    跳转到指定分类
                                </option>
                            </select>
                        </span>
                    </div>
                </div>
                <div class="row cl">
                    <div class="col-xs-3 col-xs-offset-4 col-sm-4 col-sm-offset-2">
                        <button class="btn btn-success radius" type="submit">
                            &nbsp;&nbsp;提交&nbsp;&nbsp;
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </body>
</html>
<!--_footer 作为公共模版分离出去-->
<script src="__ROOT__/static/lib/jquery/jquery.min.js" type="text/javascript">
</script>
<script src="__ROOT__/static/lib/layer/2.4/layer.js" type="text/javascript">
</script>
<script src="__ROOT__/static/lib/h-ui/js/H-ui.min.js" type="text/javascript">
</script>
<script src="__ROOT__/static/lib/h-ui.admin/js/H-ui.admin.js" type="text/javascript">
</script>
<!--/_footer 作为公共模版分离出去-->
<!--请在下方写此页面业务相关的脚本-->
<script src="__ROOT__/static/lib/jquery.validation/1.14.0/jquery.validate.js" type="text/javascript">
</script>
<script src="__ROOT__/static/lib/jquery.validation/1.14.0/messages_zh.js" type="text/javascript">
</script>
<script src="__ROOT__/static/lib/jquery.validation/1.14.0/validate-methods.js" type="text/javascript">
</script>
<script type="text/javascript">
$(function(){
    //表单提交
    $("#form-search-add").validate({
        rules: {
            sort : {
                required : true,
                digits : true,
                maxlength : 4,
            },
            value:{
                required : true,
                maxlength : 10,
            },
            nav_type : {
                required : true,
                range : [0,4],
                digits : true,
            },
        },
        onkeyup:false,
        success:"valid",
        submitHandler:function(form){
            layer.confirm('确定提交吗?',function(){
                $(form).ajaxSubmit({
                    type : 'POST',
                    url  : '/index/content/searchadd',
                    typeData : 'JSON',
                    success : function (result){
                        if( result.code < 400 ){
                            layer.alert(result.msg,{icon:1,closeBtn:0},function(){
                                window.parent.location.href = window.parent.location.href;
                            });
                        }else{
                            layer.alert(result.msg);
                        }
                    },
                    error : function(){
                        layer.alert('请求失败!');
                    }
                });
            });
        }
    });
});
/**
 * 跳转选择
 */
function navTypeChange(obj){
    var value = $(obj).val();
    if( $('#nav_type_div').length > 0 ){
        $('#nav_type_div').remove();
    }
    var selectTitle = '';
    var url = '';
    if( value == 1 ){
        selectTitle = '商品选择';
        url = '/index/content/getselect/type/goods';
    }else if( value == 2 ){
        selectTitle = '文章选择';
        url = '/index/content/getselect/type/article';
    }else if( value == 3 ){
        selectTitle = '';
        url = '';
    }else if( value == 4 ){
        selectTitle = '分类选择';
        url = '/index/goods/catagoryZtree';
    }
    if( !url ){
        return;
    }
    $.ajax({
        type    : "POST",
        url     : url,
        data    : "",
        typeData: "JSON",
        success : function(res){
            var goods_str = 
                '<div id="nav_type_div" class="row cl">'+
                '<label class="form-label col-xs-4 col-sm-2">'+selectTitle+'：</label>'+
                '<div class="formControls col-xs-8 col-sm-9">'+
                '<span class="select-box" id="select-span" style="width:150px;">'+
                '<select class="select" id="select_id" name="nav_id" size="1">';
            var option_str = '';
            if( value == 1 ){
                for(var i=0;i<res.length;i++){
                    option_str += '<option value="'+res[i].goods_id+'">'+res[i].goods_name+'</option>';
                }
            }else if( value == 2 ){
                for(var i=0;i<res.length;i++){
                    option_str += '<option value="'+res[i].article_id+'">'+res[i].article_title+'</option>';
                }
            }else if( value == 3 ){
                for(var i=0;i<res.length;i++){
                    option_str += '<option value="'+res[i].coupon_id+'">'+res[i].coupon_name+'</option>';
                }
            }else if( value == 4 ){
                res = res.data;
                for(var i=0;i<res.length;i++){
                    option_str += '<option value="'+res[i].id+'">'+res[i].name+'</option>';
                }
            }
            var new_str = goods_str + option_str + '</select></span></div></div>';
            var newEl = $(new_str);
            $('#skip').after(newEl);
        },
        error   : function(error){
            selectError(obj);
            layer.alert('请求失败!');
        }
    });
}
//跳转选择请求错误处理
function selectError(obj)
{
    var span = $(obj).parent();
    $(obj).remove();
    var select = $('<select id="layer_nav_type" class="select" onchange="navTypeChange(this)" name="layer_nav_type" size="1"><option value="0">不跳转</option><option value="1">跳转到指定商品</option><option value="2">跳转到指定内容</option><option value="3">跳转到指定优惠券</option><option value="4">跳转到指定分类</option></select>');
    span.append(select);
}
</script>