<!DOCTYPE HTML>

<html>

<head>

    <meta charset="utf-8">

    <meta name="renderer" content="webkit|ie-comp|ie-stand">

    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />

    <meta http-equiv="Cache-Control" content="no-siteapp" />

    <!--[if lt IE 9]>

    <script type="text/javascript" src="__ROOT__/public/static/lib/html5shiv.js"></script>

    <script type="text/javascript" src="__ROOT__/public/static/lib/respond.min.js"></script>

    <![endif]-->

    <link rel="stylesheet" type="text/css" href="__ROOT__/public/static/h-ui/css/H-ui.min.css" />

    <link rel="stylesheet" type="text/css" href="__ROOT__/public/static/h-ui.admin/css/H-ui.admin.css" />

    <link rel="stylesheet" type="text/css" href="__ROOT__/public/static/lib/Hui-iconfont/1.0.8/iconfont.css" />

    <link rel="stylesheet" type="text/css" href="__ROOT__/public/static/h-ui.admin/skin/default/skin.css" id="skin" />

    <link rel="stylesheet" type="text/css" href="__ROOT__/public/static/h-ui.admin/css/style.css" />

    <style>
    td.details-control {
        background: url('__ROOT__/public/details_open.png') no-repeat center center;
        cursor: pointer;
    }
    tr.shown td.details-control {
        background: url('__ROOT__/public/details_close.png') no-repeat center center;
    }
    #distributiondata td{
        text-align: center;
    }
    </style>
    <!--[if IE 6]>

    <script type="text/javascript" src="__ROOT__/public/static/lib/DD_belatedPNG_0.0.8a-min.js" ></script>

    <script>DD_belatedPNG.fix('*');</script>

    <![endif]-->

    <title>用户分销统计</title>

</head>

<body>

<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页 <span class="c-gray en">&gt;</span> 商城统计 <span class="c-gray en">&gt;</span> 用户分销统计 <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a></nav>

<div class="page-container">
     <div class="cl pd-5 bg-1 bk-gray mt-20">
     
<!--             <label class="form-label col-xs-4 col-sm-2" style="margin-left: 30px;margin-top: 5px;">选择用户：</label>
            <div class="formControls col-xs-8 col-sm-6">
                <select  name="time" id="time" style="font-size: 14px; height: 31px;line-height: 1.42857;padding: 4px;">

                    {volist name="$userinfo" id="vol"}

                    <option  value="{$vol.user_id}">{$vol.user_id}-{$vol.nickName}-{$vol.telNum}</option>

                    {/volist}
         
                </select>
            </div> -->
      
        <span class="r datalength">共有数据：<strong>{$num}</strong> 条</span>

<!--         <table id="" class="table table-border table-bordered table-hover table-bg table-sort">
            <thead>
                <tr class="text-c">

                    <th width="20">详情</th>    

                    <th width="20">用户ID</th>

                    <th width="50">用户名称</th>

                    <th width="90">用户头像</th>

                    <th width="50">商品名称</th>

                    <th width="50">购买时间</th>

                </tr>
            </thead>
        </table>  -->

    </div>     

    <div class="mt-20">

        <table id="distributiondata" class="table table-border table-bordered table-hover table-bg table-sort">

            <thead>

            <tr class="text-c">

                <th width="20">详情</th>    

                <th width="20">用户ID</th>

                <th width="50">用户名称</th>

                <th width="90">用户头像</th>

                <!-- <th width="20">商品ID</th> -->

                <th width="50">商品名称</th>

                <th width="50">购买时间</th>

            </tr>

            </thead>

        </table>

    </div>

</div>

<footer class="footer mt-20">

    <div class="container">

        <p>Powered By 福建麦口信息科技有限公司</p>

    </div>

</footer>

<!--_footer 作为公共模版分离出去-->

<script type="text/javascript" src="__ROOT__/public/static/lib/jquery/jquery.min.js"></script>

<script type="text/javascript" src="__ROOT__/public/static/lib/layer/layer.js"></script>

<script type="text/javascript" src="__ROOT__/public/static/h-ui/js/H-ui.min.js"></script>

<script type="text/javascript" src="__ROOT__/public/static/h-ui.admin/js/H-ui.admin.js"></script> <!--/_footer 作为公共模版分离出去-->


<!--请在下方写此页面业务相关的脚本-->

<!-- <script type="text/javascript" src="__ROOT__/public/static/lib/My97DatePicker/4.8/WdatePicker.js"></script> -->

<script type="text/javascript" src="__ROOT__/public/static/lib/datatables/1.10.0/jquery.dataTables.min.js"></script>

<script type="text/javascript" src="__ROOT__/public/static/lib/laypage/laypage.js"></script>

<script type="text/javascript">
// 显示行的附加信息
function format (data) {
    // `data` is the original data object for the row
    return '<table cellpadding="5" cellspacing="0" border="0" style="padding-left:50px;">'+
        "<tr style='width:50%'>"+
            '<td style="font-weight: bold;width: 30%;">用户上级：</td>'+
            '<td>上级ID：'+data.parent_id + '</br></br>用户上级返佣比例：'+data.parent_percent+'%'+ '</br></br>用户上级分佣费用：￥'+ data.parent_fee/100 +'</td>'+   
        '</tr>'+
        "<tr style='width:50%'>"+
            '<td style="font-weight: bold;width: 30%;">用户上上级：</td>'+
            '<td>上级ID：'+data.grand_id + '</br></br>用户上上级返佣比例：'+data.grand_percent+'%'+ '</br></br>用户上上级分佣费用：￥'+ data.grand_fee/100 +'</td>'+
        '</tr>'+
    '</table>';
}

$(document).ready(function() {
    var table = $('#distributiondata').DataTable({
        language: {
        "sProcessing": "处理中...",
        "sLengthMenu": "显示 _MENU_ 项结果",
        "sZeroRecords": "没有匹配结果",
        "sInfo": "显示第 _START_ 至 _END_ 项结果，共 _TOTAL_ 项",
        "sInfoEmpty": "显示第 0 至 0 项结果，共 0 项",
        "sInfoFiltered": "(由 _MAX_ 项结果过滤)",
        "sInfoPostFix": "",
        "sSearch": "从当前数据中检索： ",
        "sUrl": "",
        "sEmptyTable": "表中数据为空",
        "sLoadingRecords": "载入中...",
        "sInfoThousands": ",",
        "oPaginate": {
            "sFirst": "首页",
            "sPrevious": "上页",
            "sNext": "下页",
            "sLast": "末页"
        },
        "oAria": {
            "sSortAscending": ": 以升序排列此列",
            "sSortDescending": ": 以降序排列此列"
        }
    },
        "ajax": {
              "url": "getDistributionData",
              //默认为data,这里定义为空，则只需要传不带属性的数据
              "dataSrc": ""
          },
        "columns": [
            {
                "className":      'details-control',
                "orderable":      false,
                "data":           null,
                "defaultContent": ''
            },
            { "data": "user_id" },
            { "data": "user_nickname" },
            { "data": "user_pic" ,
            "render": function (data, type, full, callback) {
                    //类型："" 暂无头像
                    switch (data) {
                        case "": return '暂无头像'; 
                        break;
                        default:
                        return '<img style="width:100px;height:100px;" src="'+data+'" alt="用户头像" name="用户头像"/>';
                    }
                }            
            },
            // { "data": "goods_id" },
            { "data": "goods_name" },
            { "data": "create_time" ,
            "render": function (data, type, row, meta) {
                    //类型："" 暂无
                    switch (data) {
                        default:
                        return  FormatDateTime(data);
                    }
                }
            }
        ],
        "order": [[1, 'asc']]
    } );

    // Add event listener for opening and closing details
    $('#distributiondata tbody').on('click', 'td.details-control', function () {

        var tr = $(this).closest('tr');
        var row = table.row(tr);

        if ( row.child.isShown() ) {
            // This row is already open - close it
            row.child.hide();
            tr.removeClass('shown');
        }
        else {
            // Open this row
            row.child(format(row.data())).show();
            tr.addClass('shown');
        }
    } );

    // 转UnixTime时间到当前时间
    function FormatDateTime(UnixTime) {
        var a = UnixTime;  
        var date = new Date(parseInt(a*1000));  
        var y = date.getFullYear();  
        var m = date.getMonth() + 1;  
        m = m < 10 ? ('0' + m) : m;  
        var d = date.getDate();  
        d = d < 10 ? ('0' + d) : d;  
        var h = date.getHours();  
        h = h < 10 ? ('0' + h) : h;  
        var minute = date.getMinutes();  
        var second = date.getSeconds();  
        minute = minute < 10 ? ('0' + minute) : minute;  
        second = second < 10 ? ('0' + second) : second;  
        return y + '-' + m + '-' + d + ' ' + h + ':' + minute + ':' + second;  
    };



       // console.log(table.data().count());
       // console.log(table._TOTAL_ );
 
    // $(".datalength").html('共有：'+'<strong>'+data.length+'</strong>'+ ' 条数据');
} );
</script>

</body>

</html>