<!DOCTYPE HTML>
<html>

<head>
	<meta charset="utf-8">
	<meta name="renderer" content="webkit|ie-comp|ie-stand">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
	<meta http-equiv="Cache-Control" content="no-siteapp" />
	<link rel="Bookmark" href="/favicon.ico">
	<link rel="Shortcut Icon" href="/favicon.ico" />

	<link rel="stylesheet" type="text/css" href="static/lib/h-ui/css/H-ui.min.css" />
	<link rel="stylesheet" type="text/css" href="static/lib/h-ui.admin/css/H-ui.admin.css" />
	<link rel="stylesheet" type="text/css" href="static/lib/Hui-iconfont/1.0.8/iconfont.css" />
	<link rel="stylesheet" type="text/css" href="static/lib/h-ui.admin/skin/default/skin.css" id="skin" />
	<link rel="stylesheet" type="text/css" href="static/lib/h-ui.admin/css/style.css" />

	<title>吸铁石美术</title>
	<meta name="keywords" content="后台管理系统">
	<meta name="description" content="网站后台模板系统">
</head>

<body>
	<header class="navbar-wrapper">
		<div class="navbar navbar-fixed-top">
			<div class="container-fluid cl"> <a class="logo navbar-logo f-l mr-10 hidden-xs" href="https://art.up.maikoo.cn">吸铁石美术</a>
				<span class="logo navbar-slogan f-l mr-10 hidden-xs">v2.0</span>
				<a aria-hidden="false" class="nav-toggle Hui-iconfont visible-xs" href="javascript:;">&#xe667;</a>

				<nav id="Hui-userbar" class="nav navbar-nav navbar-userbar hidden-xs">
					<ul class="cl">
						<li>超级管理员</li>
						<li class="dropDown dropDown_hover">
							<span id="admin_id" style="display: none;">{$admin_id}</span>
							<a href="#" class="dropDown_A">{$username}<i class="Hui-iconfont">&#xe6d5;</i></a>
							<ul class="dropDown-menu menu radius box-shadow">
								<li><a href="javascript:;" onClick="editPassword()">修改密码</a></li>
								<li><a href="index/index/logout">退出</a></li>
							</ul>
						</li>
						<li id="Hui-skin" class="dropDown right dropDown_hover"> <a href="javascript:;" class="dropDown_A" title="换肤"><i class="Hui-iconfont" style="font-size:18px">&#xe62a;</i></a>
							<ul class="dropDown-menu menu radius box-shadow">
								<li><a href="javascript:;" data-val="default" title="默认（黑色）">默认（黑色）</a></li>
								<li><a href="javascript:;" data-val="blue" title="蓝色">蓝色</a></li>
								<li><a href="javascript:;" data-val="green" title="绿色">绿色</a></li>
								<li><a href="javascript:;" data-val="red" title="红色">红色</a></li>
								<li><a href="javascript:;" data-val="yellow" title="黄色">黄色</a></li>
								<li><a href="javascript:;" data-val="orange" title="橙色">橙色</a></li>
							</ul>
						</li>
					</ul>
				</nav>
			</div>
		</div>
	</header>
	<aside class="Hui-aside">
		<div class="menu_dropdown bk_2">
			{volist name="$menuList" id="vol"}
			{if condition="$vol.menu_id == 1"}
			<dl id="menu-system">
				<dt><i class="Hui-iconfont">&#xe62e;</i> 系统管理<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
				<dd>
					<ul>
						{volist name="$menuList" id="vol"}
						{if condition="$vol.menu_id == 2"}
						<li><a data-href="index/banner/bannerlist" data-title="Banner列表" href="javascript:void(0)">Banner列表</a></li>
						{/if}
						{/volist}

						{volist name="$menuList" id="vol"}
						{if condition="$vol.menu_id == 3 "}
						<li><a data-href="index/admin/adminlist" data-title="管理员列表" href="javascript:;">管理员列表</a></li>
						{/if}
						{/volist}

						{volist name="$menuList" id="vol"}
						{if condition="$vol.menu_id == 18"}
						<li><a data-href="index/system/miniproset" data-title="小程序设置" href="javascript:;">小程序设置</a></li>
						{/if}
						{/volist}
					</ul>
				</dd>
			</dl>
			{/if}
			{/volist}

			{volist name="$menuList" id="vol"}
			{if condition="$vol.menu_id == 5"}
			<dl id="menu-tongji">
				<dt><i class="Hui-iconfont">&#xe61a;</i> 系统统计<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
				<dd>
					<ul>
						{volist name="$menuList" id="vol"}
						{if condition="$vol.menu_id == 8"}
						<li><a data-href="index/chart/incomechart" data-title="收入统计" href="javascript:void(0)">收入统计</a></li>
						{/if}
						{/volist}

						{volist name="$menuList" id="vol"}
						{if condition="$vol.menu_id == 22"}
						<li><a data-href="index/chart/clockchart" data-title="打卡统计" href="javascript:void(0)">打卡统计</a></li>
						{/if}
						{/volist}
					</ul>
				</dd>
			</dl>
			{/if}
			{/volist}

			{volist name="$menuList" id="vol"}
			{if condition="$vol.menu_id == 9"}
			<dl id="menu-course">
				<dt><i class="Hui-iconfont">&#xe616;</i> 课程管理<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
				<dd>
					<ul>
						{volist name="$menuList" id="vol"}
						{if condition="$vol.menu_id == 10"}
						<li><a data-href="index/course/subject" data-title="科目列表" href="javascript:void(0)">科目列表</a></li>
						{/if}
						{/volist}

						{volist name="$menuList" id="vol"}
						{if condition="$vol.menu_id == 12"}
						<li><a data-href="index/course/courselist" data-title="课程列表" href="javascript:void(0)">课程列表</a></li>
						{/if}
						{/volist}

						{volist name="$menuList" id="vol"}
						{if condition="$vol.menu_id == 20"}
						<li><a data-href="index/course/classlist" data-title="班级列表" href="javascript:void(0)">班级列表</a></li>
						{/if}
						{/volist}

						{volist name="$menuList" id="vol"}
						{if condition="$vol.menu_id == 23"}
						<li><a data-href="index/course/userclass" data-title="课程信息列表" href="javascript:void(0)">课程信息列表</a></li>
						{/if}
						{/volist}
					</ul>
				</dd>
			</dl>
			{/if}
			{/volist}

			{volist name="$menuList" id="vol"}
			{if condition="$vol.menu_id == 19"}
			<dl id="menu-user">
				<dt><i class="Hui-iconfont">&#xe60d;</i> 用户管理<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
				<dd>
					<ul>
						{volist name="$menuList" id="vol"}
						{if condition="$vol.menu_id == 6"}
						<li><a data-href="index/system/userprofile" data-title="学生列表" href="javascript:void(0)">学生列表</a></li>
						{/if}
						{/volist}

						{volist name="$menuList" id="vol"}
						{if condition="$vol.menu_id == 11"}
						<li><a data-href="index/course/teacher" data-title="教师列表" href="javascript:void(0)">教师列表</a></li>
						{/if}
						{/volist}
					</ul>
				</dd>
			</dl>
			{/if}
			{/volist}

			{volist name="$menuList" id="vol"}
			{if condition="$vol.menu_id == 13"}
			<dl id="menu-message">
				<dt><i class="Hui-iconfont">&#xe613;</i> 消息管理<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
				<dd>
					<ul>
						{volist name="$menuList" id="vol"}
						{if condition="$vol.menu_id == 14"}
						<li><a data-href="index/msg/tomsg" data-title="公告列表" href="javascript:void(0)">公告列表</a></li>
						{/if}
						{/volist}

						{volist name="$menuList" id="vol"}
						{if condition="$vol.menu_id == 15"}
						<li><a data-href="index/msg/pushmsg" data-title="推送列表" href="javascript:void(0)">推送列表</a></li>
						{/if}
						{/volist}

						{volist name="$menuList" id="vol"}
						{if condition="$vol.menu_id == 21"}
						<li><a data-href="index/system/feedback" data-title="用户反馈" href="javascript:;">用户反馈</a></li>
						{/if}
						{/volist}
					</ul>
				</dd>
			</dl>
			{/if}
			{/volist}

			{volist name="$menuList" id="vol"}
			{if condition="$vol.menu_id == 16"}
			<dl id="menu-clause">
				<dt><i class="Hui-iconfont">&#xe692;</i> 用户协议<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
				<dd>
					<ul>
						{volist name="$menuList" id="vol"}
						{if condition="$vol.menu_id == 17"}
						<li><a data-href="index/system/clause" data-title="用户协议" href="javascript:void(0)">用户协议</a></li>
						{/if}
						{/volist}
					</ul>
				</dd>
			</dl>
			{/if}
			{/volist}
		</div>
	</aside>
	<div class="dislpayArrow hidden-xs"><a class="pngfix" href="javascript:void(0);" onClick="displaynavbar(this)"></a></div>
	<section class="Hui-article-box">
		<div id="Hui-tabNav" class="Hui-tabNav hidden-xs">
			<div class="Hui-tabNav-wp">
				<ul id="min_title_list" class="acrossTab cl">
					<li class="active">
						<span title="我的桌面" data-href="index/index/welcome.html">我的桌面</span>
						<em></em></li>
				</ul>
			</div>
			<div class="Hui-tabNav-more btn-group"><a id="js-tabNav-prev" class="btn radius btn-default size-S" href="javascript:;"><i class="Hui-iconfont">&#xe6d4;</i></a><a id="js-tabNav-next" class="btn radius btn-default size-S"
				   href="javascript:;"><i class="Hui-iconfont">&#xe6d7;</i></a></div>
		</div>
		<div id="iframe_box" class="Hui-article">
			<div class="show_iframe">
				<div style="display:none" class="loading"></div>
				<iframe scrolling="yes" frameborder="0" src="index/index/welcome.html"></iframe>
			</div>
		</div>
	</section>

	<div class="contextMenu" id="Huiadminmenu">
		<ul>
			<li id="closethis">关闭当前 </li>
			<li id="closeall">关闭全部 </li>
		</ul>
	</div>
	<div id="modal-demotwo" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content radius">
				<div class="modal-header">
					<h3 class="modal-title">修改管理员密码</h3>
					<a class="close" data-dismiss="modal" aria-hidden="true" href="javascript:void();">×</a>
				</div>
				<div class="modal-body">
					<!-- <p>对话框内容…</p> -->
					<form action="" method="post" class="form form-horizontal" id="form-addadmin-add">
						<div class="row cl" style="margin-left: 60px;">
							<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>初始密码：</label>
							<div class="formControls col-xs-8 col-sm-9">
								<input style="width: 200px;" type="password" class="input-text valid" autocomplete="off" value="" placeholder="密码" id="password" name="password">
							</div>
						</div>
						<div class="row cl" style="margin-left: 60px;">
							<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>新密码：</label>
							<div class="formControls col-xs-8 col-sm-9">
								<input style="width: 200px;" type="password" class="input-text valid" autocomplete="off" placeholder="新密码" id="password1" name="password1">
							</div>
						</div>
						<div class="row cl" style="margin-left: 60px;">
							<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>确认密码：</label>
							<div class="formControls col-xs-8 col-sm-9">
								<input style="width: 200px;" type="password" class="input-text valid" autocomplete="off" placeholder="确认新密码" id="password2" name="password2">
							</div>
						</div>
					</form>
				</div>
				<div class="modal-footer">
					<button id="confirm" class="btn btn-primary">确定</button>
					<button class="btn" data-dismiss="modal" aria-hidden="true">关闭</button>
				</div>
			</div>
		</div>
	</div>
	<!--_footer 作为公共模版分离出去-->
	<script type="text/javascript" src="static/lib/jquery/jquery.min.js"></script>
	<script type="text/javascript" src="static/lib/layer/2.4/layer.js"></script>
	<script type="text/javascript" src="static/lib/h-ui/js/H-ui.min.js"></script>
	<script type="text/javascript" src="static/lib/h-ui.admin/js/H-ui.admin.js"></script>
	<!--/_footer 作为公共模版分离出去-->

	<!--请在下方写此页面业务相关的脚本-->
	<script type="text/javascript" src="static/lib/jquery.contextmenu/jquery.contextmenu.r2.js"></script>
	<script src="static/js/md5.min.js"></script>
	<script type="text/javascript" src="__ROOT__/static/js/index.js"></script>
</body>

</html>