<!--_meta 作为公共模版分离出去-->

<!DOCTYPE HTML>

<html>

<head>

    <meta charset="utf-8">

    <meta name="renderer" content="webkit|ie-comp|ie-stand">

    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />

    <meta http-equiv="Cache-Control" content="no-siteapp" />

    <link rel="Bookmark" href="/favicon.ico" >

    <link rel="Shortcut Icon" href="/favicon.ico" />

    <!--[if lt IE 9]>

    <script type="text/javascript" src="__ROOT__/public/static/lib/html5shiv.js"></script>

    <script type="text/javascript" src="__ROOT__/public/static/lib/respond.min.js"></script>

    <![endif]-->

    <link rel="stylesheet" type="text/css" href="__ROOT__/public/static/h-ui/css/H-ui.min.css" />

    <link rel="stylesheet" type="text/css" href="__ROOT__/public/static/h-ui.admin/css/H-ui.admin.css" />

    <link rel="stylesheet" type="text/css" href="__ROOT__/public/static/lib/Hui-iconfont/1.0.8/iconfont.css" />

    <link rel="stylesheet" type="text/css" href="__ROOT__/public/static/h-ui.admin/skin/default/skin.css" id="skin" />

    <link rel="stylesheet" type="text/css" href="__ROOT__/public/static/h-ui.admin/css/style.css" />

    <!--[if IE 6]>

    <script type="text/javascript" src="__ROOT__/public/static/lib/DD_belatedPNG_0.0.8a-min.js" ></script>

    <script>DD_belatedPNG.fix('*');</script>

    <![endif]-->

    <!--/meta 作为公共模版分离出去-->

    <title>添加邀请码</title>

</head>

<body>

<form action="" method="post" class="form form-horizontal" id="form-article-add" >

    <div class="row cl">

        <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>可邀请的总人数：</label>

        <div class="formControls col-xs-8 col-sm-9">

            <input type="text" class="input-text" value="10" placeholder="" id="num" name="num" onkeyup="this.value=this.value.replace(/\D/g,'')" onafterpaste="this.value=this.value.replace(/\D/g,'')">

        </div>

    </div>



    <div class="row cl">

        <label class="form-label col-xs-4 col-sm-2">邀请码长度：</label>

        <div class="formControls col-xs-8 col-sm-9">

            <select name="length" id="length" style="font-size: 14px; height: 31px;line-height: 1.42857;padding: 4px;">

                <option value="4">4</option>

                <option value="5">5</option>

                <option value="8">8</option>

                <option value="10">10</option>

                <option value="12">12</option>

                <option value="15">15</option>

            </select>

        </div>

    </div>

    <div class="row cl">

        <label class="form-label col-xs-4 col-sm-2"> 邀请码： </label>

        <div class="formControls col-xs-8 col-sm-9">

            <input type="text" name="invitecode" id="invitecode" style="width: 200px;"  class="input-text" value="" onkeyup="this.value=this.value.replace(/[^a-zA-Z]/g,'')">   

            <button class="btn btn-primary radius"  style="margin-left: 20px"  id="invite"><i class="Hui-iconfont">&#xe6a9;</i> 生成邀请码 </button>

        </div>

    </div>

    <div class="row cl">

        <div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-2">

            <button  class="btn btn-primary radius"  type="button" id = "invitesubmit" ><i class="Hui-iconfont">&#xe632;</i> 提交 </button>

            <button onClick="layer_close();" class="btn btn-default radius"  type="button">&nbsp;&nbsp;取消&nbsp;&nbsp;</button>

        </div>

    </div>

</form>

<!--_footer 作为公共模版分离出去-->

<script type="text/javascript" src="__ROOT__/public/static/lib/jquery/jquery.min.js"></script>

<script type="text/javascript" src="__ROOT__/public/static/lib/layer/layer.js"></script>

<script type="text/javascript" src="__ROOT__/public/static/h-ui/js/H-ui.min.js"></script>

<script type="text/javascript" src="__ROOT__/public/static/h-ui.admin/js/H-ui.admin.js"></script> <!--/_footer 作为公共模版分离出去-->

<script type="text/javascript">

    function getInviteCodeLength() {

        var count = $('#num').val();

        var text = $('#length').val();

        if (text !== '' || count == '') {

            if (parseInt(text) > 15 || parseInt(text) < 4) {

                layer.msg('验证码长度在4～15为之间');

                return false;

            }

            else if(parseInt(count) <= 0){

                layer.msg('人数至少要1位');

                return false;

            }

        }

        else {

            layer.msg('请输入数字');

            return false;

        }

        return text;

    }

    $(function() {

        // 获取邀请码

        $("#invite").on("click", function () {

            var num = getInviteCodeLength();

            var url = 'makeinvite?num=' + num;

            $.get(url, function (res) {

                if (res.code == 1) {

                    $('#invitecode').val(res.msg);

                } else {

                    layer.msg(res.msg);

                }

            });

            return false;

        });

        // 提交表单

        $("#invitesubmit").click(function () {

            var invitecode = $('#invitecode').val();

            if (invitecode == '') {

                layer.msg('请获取邀请码！');

                return false;

            }

            var url = 'forminvite';

            $.ajax({

                url: 'forminvite',

                type: 'POST',

                data: $('#form-article-add').serialize(),

                dataType: 'json',

                success: function(res){

                    console.log(res.code)

                    if (res.code == 200) {

                        layer.msg(res.msg);

                        index = parent.layer.getFrameIndex(window.name);

                        setTimeout('parent.layer.close(index);',1000)



                    }

                    if (res.code == 300) {

                        layer.msg(res.msg);

                        window.history.go(-1);

                    }

                }

            })

            // $.post(url , $('#form-article-add').serialize(), function (res) {

            //     alert(res.code)

            //     if (res.code == '200') {

            //         layer.msg(res.msg,{icon:1,time:1500});

            //         // index = parent.layer.getFrameIndex(window.name);

            //         // setTimeout('parent.layer.close(index);',1200);

            //     }

            //     if (res.code == 300) {

            //         layer.msg(res.msg);

            //         window.history.go(-1);

            //     }

            //     });

        });

    });

</script>

<!--/请在上方写此页面业务相关的脚本-->

</body>

</html>