<!DOCTYPE HTML>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <link rel="Bookmark" href="/favicon.ico" >
    <link rel="Shortcut Icon" href="/favicon.ico" />
    <link rel="stylesheet" type="text/css" href="__ROOT__/public/static/h-ui/css/H-ui.min.css" />
    <link rel="stylesheet" type="text/css" href="__ROOT__/public/static/h-ui.admin/css/H-ui.admin.css" />
    <link rel="stylesheet" type="text/css" href="__ROOT__/public/static/lib/Hui-iconfont/iconfont.css" />
    <link rel="stylesheet" type="text/css" href="__ROOT__/public/static/h-ui.admin/skin/default/skin.css" id="skin" />
    <link rel="stylesheet" type="text/css" href="__ROOT__/public/static/h-ui.admin/css/style.css" />
    <link rel="stylesheet" type="text/css" href="__ROOT__/public/static/lib/layer/layer.css" />
    <style>
    .Hui-iconfont{
        font-size: 15px;
    }
    </style>
    <title>促销活动</title>
</head>
<body>
<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页 <span class="c-gray en">&gt;</span> 商城管理 <span class="c-gray en">&gt;</span> 促销活动 <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a></nav>
<div class="page-container">
    <div class="cl pd-5 bg-1 bk-gray mt-20"> <span class="l"><!-- <a href="javascript:;" onClick="datadel()" class="btn btn-danger radius"><i class="Hui-iconfont">&#xe6e2;</i> 批量删除</a> -->  <a class="btn btn-primary radius" onClick="coupon_add('添加活动','promotionadd.html')" href="javascript:;"><i class="Hui-iconfont">&#xe600;</i> 添加活动</a> </span> <span class="r">共有：<strong>{:sizeof($promotion)}</strong> 条数据</span> </div>
    <div class="mt-20">
        <table class="table table-border table-bordered table-bg table-hover table-sort">
            <thead>
            <tr class="text-c">
                <td width="60">活动名称</td>
                <th width="50">活动折扣</th>
                <th width="50">开始时间</th>
                <th width="50">结束时间</th>
                <th width="100">操作</th>
            </tr>
            </thead>
            <tbody>
            {if condition="sizeof($promotion) == 0"}
            {else /}
            {volist name="$promotion" id="vol"}
            <tr class="text-c">
                <td>{$vol.name}</td>
                <td>{$vol.count / 10}折</td>
                <td>{:date('Y-m-d H:i', intval($vol.start_time))} </td>
                <td>{:date('Y-m-d H:i', intval($vol.end_time))} </td>
                <td class="td-manage">
                    {if condition = "$vol.end_time lt time()"}
                    <a title="已过期" href="javascript:;" class="ml-5" style="text-decoration:none"><i class="Hui-iconfont">&#xe6dd;</i> </a>
                    {elseif condition = "$vol.is_active eq 0 "}
                    <a style="text-decoration:none" onClick="changepromote(this,'{$vol.promotion_id}');" href="javascript:;" title="等待上线"><i class="Hui-iconfont">&#xe6dc;</i></a>
                    {elseif condition = "$vol.is_active eq 1" /}
                    <a style="text-decoration:none" onClick="promotestop(this,'{$vol.promotion_id}');" href="javascript:;" title="暂停"><i class="Hui-iconfont">&#xe6e5;</i></a>
                    {/if}
                </td>
            </tr>
            {/volist}
            {/if}
            </tbody>
        </table>
    </div>
</div>
<footer class="footer mt-20">
    <div class="container">
        <p>Powered By 福建麦口信息科技有限公司</p>
    </div>
</footer>
<!--_footer 作为公共模版分离出去-->
<script type="text/javascript" src="__ROOT__/public/static/lib/jquery/jquery.min.js"></script>
<script type="text/javascript" src="__ROOT__/public/static/lib/layer/layer.js"></script>
<script type="text/javascript" src="__ROOT__/public/static/h-ui/js/H-ui.min.js"></script>
<script type="text/javascript" src="__ROOT__/public/static/h-ui.admin/js/H-ui.admin.js"></script>
<!--/_footer 作为公共模版分离出去-->
<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript" src="__ROOT__/public/static/lib/datatables/1.10.0/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="__ROOT__/public/static/lib/laypage/laypage.js"></script>
<!--<script type="text/javascript"  src="__ROOT__/public/static/lib/layer/layer.js"></script>-->
<script type="text/javascript">
    $('.table-sort').dataTable({
        language: {
        "sProcessing": "处理中...",
        "sLengthMenu": "显示 _MENU_ 项结果",
        "sZeroRecords": "没有匹配结果",
        "sInfo": "显示第 _START_ 至 _END_ 项结果，共 _TOTAL_ 项",
        "sInfoEmpty": "显示第 0 至 0 项结果，共 0 项",
        "sInfoFiltered": "(由 _MAX_ 项结果过滤)",
        "sInfoPostFix": "",
        "sSearch": "从当前数据中检索： ",
        "sUrl": "",
        "sEmptyTable": "表中数据为空",
        "sLoadingRecords": "载入中...",
        "sInfoThousands": ",",
        "oPaginate": {
            "sFirst": "首页",
            "sPrevious": "上页",
            "sNext": "下页",
            "sLast": "末页"
        },
        "oAria": {
            "sSortAscending": ": 以升序排列此列",
            "sSortDescending": ": 以降序排列此列"
        }
    },
        "aaSorting": [[ 4, "desc" ]],//默认第几个排序
        "bStateSave": true,//状态保存
        "aoColumnDefs": [
            //{"bVisible": false, "aTargets": [ 3 ]} //控制列的隐藏显示
            {"orderable":false,"aTargets":[0,1]}// 制定列不参与排序
        ]
    });
    // 更改活动展示状态
    function changepromote(obj, id){
        var showMessage = '确定要上线当前活动吗？';
        layer.confirm(showMessage,function(index){
            $.ajax({
                type: 'POST',
                url: 'changepromotion',
                dataType: 'json',
                data: {id: id},
                success: function(data){
                    if (data.code == "200") {
                        $(obj).parents("tr").find(".td-manage").html('<a style="text-decoration:none" onClick="promotestop(this,\'{$vol.promotion_id}\');" href="javascript:;" title="暂停" class="ml-5"><i class="Hui-iconfont">&#xe6e5;</i></a> ');
                    }
                    index = parent.layer.getFrameIndex(window.name);
                    layer.msg(data.msg,{icon:1,time:1000});
                    setTimeout('window.location.reload(location.href);',1000);
                },
                error:function(data) {
                layer.msg('网络错误，请稍后重试！',{icon:2,time:1000});
                },
            });
        });
    }
    // 活动暂停
    function promotestop(obj, id){
        var showMessage = '确定要暂停当前活动吗？';
        layer.confirm(showMessage,function(index){
            $.ajax({
                type: 'POST',
                url: 'promotionstop',
                dataType: 'json',
                data: {id: id},
                success: function(data){
                    if (data.code == "200") {
                        $(obj).parents("tr").find(".td-manage").html(' <a style="text-decoration:none" onClick="changepromote(this,\'{$vol.promotion_id}\');" href="javascript:;" title="等待上线"><i class="Hui-iconfont">&#xe6dc;</i></a>');
                    }
                    index = parent.layer.getFrameIndex(window.name);
                    layer.msg(data.msg,{icon:1,time:1000});
                    setTimeout('window.location.reload(location.href);',1000);
                },
                error:function(data) {
                    // index.log(data.message);
                    layer.msg('提交出错！请刷新页面重新提交！',{icon:1,time:1000});
                },
            });
        });
    }
    /*图片-添加*/
    function coupon_add(title,url){
        var index = layer.open({
            type: 2,
            title: title,
            content: url,
            end: function(){
                location.replace(location.href);
            }
        });
        layer.full(index);
    }
</script>
</body>
</html>